//font variable
$ff-OpenSans: "OpenSans";
$ff-Russo: "Russo";
$ff-Rubik: "Rubik";
$ff-Play: "Play";

//color variable
$col-blackTitle: #273d46;
$col-blackSubtitle: #333333;
$col-blackText: #505050;


@import "common/reset";
@import "fonts";
@import "default";
@import "header";
@import "general";
@import "service";
@import "delivery";
@import "clients";
@import "footer";
@import "modal";


