.opacity {
  animation: opacity .5s linear;
}
@keyframes opacity {
  from {
    opacity: 1;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
  50% {
    opacity: 0;
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
}

.clients {
  padding: 100px 50px 50px;
  text-align: center;
  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  h2:first-of-type {
    font: 700 42px $ff-OpenSans;
    color: $dark-font-color;
    line-height: 47px;
    margin-bottom: 50px;
    @media screen and (max-width: 480px) {
      margin-bottom: 30px;
    }
  }

  h2:last-of-type {
    font: 400 16px $ff-Play;
    line-height: 20px;
    margin-bottom: 50px;
  }

  &_content {
    display: flex;
    justify-content: space-around;
    min-height: 276px;
    @media screen and (max-width: 768px) and (min-width: 580px){
      min-height: 299px;
    }
    @media screen and (max-width: 580px) {
      flex-direction: column;
      min-height: 782px;
    }

    &_item {
      display: flex;
      width: 33.3%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      @media screen and (max-width: 580px) {
        width: 100%;
      }

      p {
        text-align: center;
        font: 400 22px $ff-Play;
        @media screen and (max-width: 768px) {
          font-size: 15px;
        }
      }
    }
  }

  &_dots {
    display: flex;
    justify-content: space-around;
    width: 10%;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
    //@media screen and (max-width: 1024px) {
    //  width: 10%;
    //}
    @media screen and (max-width: 580px) {
      width: 20%;
    }
    //@media screen and (max-width: 420px) {
    //  display: none;
    //}

    a {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: solid 1px #333333;
    }

    &_left {
      position: absolute;
      left: -50px;
      top: 50%;
    }
    &_left:before,
    &_left:after,
    &_right:after,
    &_right:before {
      position: absolute;
      content: '';
    }

    .active {
      background: #333333;
    }
  }

  .slider_nav_button {
    @media screen and (max-width: 580px) {
      padding: 8px 14px;
    }

    &:first-child {
      visibility: visible;
    }
  }

  img {
    width: 150px;
    height: 150px;
  }
}

.slider_nav {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  @media screen and (max-width: 680px) {
    padding: 0;
  }

  &_button {
    padding: 10px 50px;
    background-color: $dark-font-color;
    border-radius: 22px;
    box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
    color: #ffffff;
    font: 500 14px $ff-OpenSans;
    line-height: 19px;
    z-index: 1;
    transition: all .3s ease;
    letter-spacing: 1px;
    margin-bottom: 30px;
    @media screen and (max-width: 680px) {
      padding: 10px 30px;
    }

    &:hover {
      box-shadow: 0 6px 40px rgba(60, 97, 17, 0.3);
      background-color: #6b9995;
    }
  }

  &_left {
    visibility: hidden;
  }
}