.delivery {
  background: url('../images/main/delivery.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 150px 50px;
  position: relative;
  @media screen and (max-width: 480px) {
    padding: 150px 0;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
  }


  &__content {
    z-index: 9999;
    position: relative;

    h2 {
      color: $btn-color;
      font: 700 72px $ff-OpenSans;
      margin-bottom: 30px;
      @media screen and (max-width: 680px) {
        font-size: 60px;
      }
      @media screen and (max-width: 580px) {
        font-size: 50px;
      }
      @media screen and (max-width: 380px) {
        font-size: 36px;
      }
    }

    h3 {
      font: 700 18px $ff-Play;
      margin-bottom: 100px;
      color: $btn-color;
      @media screen and (max-width: 380px) {
        margin-bottom: 50px;
      }
    }

    &__btn {
      color: $btn-color;
      border: solid 3px $btn-color;
      font: 700 26px $ff-Play;
      letter-spacing: 1px;
      line-height: 31px;
      padding: 5px 65px;
      transition: all .3s ease-in-out;
      @media screen and (max-width: 380px) {
        font-size: 18px;
        line-height: 25px;
        padding: 5px 35px;
      }
      &:hover {
        background-color: $btn-color;
        color: #000000;
      }
    }
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: #FFFFFF;
    width: 100%;
    height: 80px;
  }
}