@mixin fontface($name, $file, $weight, $style){
	@font-face {
		font-family: "#{$name}";
		font-weight: $weight;
		font-style: $style;
		src: url('../fonts/#{$file}.eot');
		src: url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
		url('../fonts/#{$file}.woff') format('woff'),
		url('../fonts/#{$file}.ttf') format('truetype'),
		url('../fonts/#{$file}.svg?#webfont') format('svg');
	}
}

@include fontface(Russo,RussoOne,400,normal)
@include fontface(Rubik,RubikMonoOne-Regular,400,normal)
@include fontface(OpenSans,OpenSans-Light,400,normal)
@include fontface(OpenSans,OpenSans-Extrabold,700,normal)
@include fontface(Play,Play,400,normal)
@include fontface(Play,Play-Bold,700,normal)


