.footer {
  background-color: #333333;
  padding: 20px 0;
  color: #FFFFFF;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    address {
      font: 400 14px $ff-Play;
      line-height: 20px;
    }

    &__social {
      display: flex;
      @media screen and (max-width: 420px) {
        flex-direction: column;
      }

      &__item {
        height: 100%;
        margin-right: 20px;
        transition: all .3s ease-in-out;
        @media screen and (max-width: 420px) {;
          margin-right: 0;
        }

        svg {
          height: 30px;
          width: 30px;
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          transform: scale(1.2, 1.2);
        }
      }
    }
  }
}