$btn-color: rgb(219, 216, 216);
$border-color: #f55809;

.general {
  background: url('../images/main/field.jpg') no-repeat center;
  //background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 150px 50px 50px;
  position: relative;
  @media screen and (max-width: 680px) {
    padding: 100px 20px 50px;
  }
  @media screen and (max-width: 380px) {
    padding: 50px 0;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
  }

  &__content {
    position: relative;
    color: #ffffff;

    h1 {
      font: 700 72px $ff-OpenSans;
      line-height: 100px;
      margin-bottom: 20px;
      @media screen and (max-width: 680px) {
        font-size: 60px;
        line-height: 75px;
      }
      @media screen and (max-width: 580px) {
        font-size: 50px;
        line-height: 65px;
      }
      @media screen and (max-width: 480px) {
        font-size: 40px;
        line-height: 55px;
      }
      @media screen and (max-width: 380px) {
        font-size: 34px;
        line-height: 50px;
      }
    }

    h2 {
      font: 400 22px $ff-OpenSans;
      line-height: 28px;
      margin-bottom: 40px;
      @media screen and (max-width: 480px) {
        padding: 0;
        font-size: 16px;
        line-height: 22px;
      }
    }

    &__offer {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;

      &__border--line {
        background-color: $border-color;
        height: 20px;
        width: 5px;
        position: relative;
        bottom: 2px;

        &:before,
        &:after {
          position: absolute;
          content: '';
          left: 0;
          top: 0;
          width: 10px;
          height: 4px;
          background-color: $border-color;
        }

        &:after {
          top: 100%;
        }

        &:last-child:before,
        &:last-child:after {
          left: -5px
        }
      }

      h2 {
        font: 400 18px $ff-Rubik;
        padding: 0 10px;
        line-height: 24px;
        color: $btn-color;
        letter-spacing: 1px;
        animation: padding 2s infinite ease-in-out;
      }
    }

    &__btn {
      color: $btn-color;
      border: solid 3px $btn-color;
      font: 700 26px $ff-Play;
      letter-spacing: 1px;
      margin-bottom: 20px;
      line-height: 31px;
      padding: 5px 65px;
      transition: all .3s ease-in-out;
      @media screen and (max-width: 480px) {
        padding: 5px 35px;
        line-height: 25px;
        font-size: 20px;
      }
      &:hover {
        background-color: $btn-color;
        color: #000000;
      }
    }

    &__cursor {
      margin-bottom: 50px;
      animation: cursor 2s infinite ease-in-out;
    }
  }

  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    fill: #FFFFFF;
    width: 100%;
    height: 80px;
  }
}

@keyframes padding {
  from {
    padding: 0 10px;
  }
  50% {
    padding: 0 20px;
  }
  to {
    padding: 0 10px;
  }
}

@keyframes cursor {
  from {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  to {
    transform: scale(1, 1);
  }
}