.header {
  display: flex;
  flex-direction: column;
  animation: load 1s ease-out;
  @media screen and (max-width: 768px) {
    animation: load .5s ease-out;
  }

  &__company {
    display: flex;
    justify-content: space-between;
    padding: 40px 90px;
    @media screen and (max-width: 1024px) {
      padding: 20px 30px;
    }
    @media screen and (max-width: 480px) {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }

    div {
      width: 50%;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 480px) {
        width: 100%;
      }

      p:first-child {
        margin-bottom: 10px;
      }
    }

    &__name {
      padding-right: 150px;
      @media screen and (max-width: 680px) {
        padding-right: 50px;
      }
      @media screen and (max-width: 480px) {
        padding-right: 0;
      }
    }

    &__contacts {
      align-items: flex-end;

      address:first-child {
        font: 700 28px $ff-Play;
        line-height: 36px;
        text-decoration: none;
        color: inherit;

        @media screen and (max-width: 680px) {
        font-size: 20px;
        line-height: 25px;
      }
        @media screen and (max-width: 380px) {
          padding-top: 15px;
        }
      }
    }
  }

  &__top--text {
    font: 400 22px $ff-Russo;
    text-decoration: none;
    line-height: 28px;
  }

  &__down--text {
    font: 400 14px $ff-OpenSans;
    color: #808080;
    line-height: 20px;
  }
}

@keyframes load {
  from {transform: translateX(100%)}
  to {transform: translateX(0)}
}