.modal--hidden {
  opacity: 0;
  visibility: hidden;
}

.modal--window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  transition: all .3s ease-out;

  &__overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }

  &__close {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 30px;
    right: 20px;
    cursor: pointer;

    &:before,
    &:after {
      position: absolute;
      top: 3px;
      left: 0;
      content: '';
      width: 15px;
      height: 1px;
      background-color: $dark-font-color;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 0;
    max-width: 400px;
    min-width: 300px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    @media screen and (max-width: 480px) {
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
    }

    h2 {
      font: 700 24px $ff-OpenSans;
      line-height: 29px;
    }

    h3 {
      font: 400 16px $ff-Play;
      line-height: 25px;
      margin: 25px 10px;
    }

    form {
      text-align: left;
      padding: 0 20px;

      h4 {
        font-size: 400 14px $ff-Play;
        margin-bottom: 10px;
        position: relative;

        &:before {
          position: absolute;
          top: 0;
          content: '*';
          color: #DB1111;
        }

        &:first-of-type:before {
          left: 42px;
        }

        &:last-of-type:before {
          left: 75px;
        }
      }

      input[type='text'],
      input[type='tel'] {
        border-radius: 6px;
        border: solid 1px rgb(204, 204, 204);
        width: 100%;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
        letter-spacing: 1px;
        font: 400 16px $ff-Play;
      }

      input[type='text'] {
        margin-bottom: 20px;
      }

      input[type='tel'] {
        margin-bottom: 40px;
      }
    }

    &__submit {
      display: flex;
      justify-content: center;

      input[type='submit'] {
        background-color: inherit;
        font: 400 18px $ff-Play;
        line-height: 24px;
        color: #DB1111;
        border: solid 1px #DB1111;
        padding: 15px 50px;
        cursor: pointer;
        transition: all .3s ease-out;
      }

      input[type='submit']:hover {
        background-color: #DB1111;
        color: #FFFFFF;
      }
    }
  }
}