$dark-font-color: #696969;

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.service {
  padding: 150px 50px 50px;
  text-align: center;
  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  h2:first-of-type {
    font: 700 42px $ff-OpenSans;
    color: $dark-font-color;
    line-height: 47px;
    margin-bottom: 50px;
    @media screen and (max-width: 480px) {
      margin-bottom: 30px;
    }
  }

  h2:last-of-type {
    font: 400 16px $ff-Play;
    line-height: 20px;
  }

  &__content {
    display: flex;
    padding: 30px 50px;
    margin-bottom: 50px;
    transition: transform 1s linear, opacity 1s linear;
    -webkit-transition: transform 1s linear, opacity 1s linear;
    -moz-transition: transform 1s linear, opacity 1s linear;
    will-change: transform, opacity;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      transition: transform .5s linear, opacity .5s linear;
      -webkit-transition: transform .5s linear, opacity .5s linear;
      -moz-transition: transform .5s linear, opacity .5s linear;
    }

    &__item {
      min-width: 150px;
      padding: 30px;
      border: solid 4px $border-color;
      margin-right: 30px;
      @media screen and (max-width: 1024px) {
        padding: 10px;
      }
      @media screen and (max-width: 768px) {
        width: 400px;
        margin-right: 0;
        margin-bottom: 30px;
      }
      @media screen and (max-width: 480px) {
        width: 330px;
      }
      @media screen and (max-width: 380px) {
        width: 270px;
      }

      &:last-of-type {
        margin-right: 0;
      }

      h3 {
        font: 700 24px $ff-OpenSans;
        line-height: 30px;
        color: $dark-font-color;
        margin-bottom: 20px;
      }

      h4:first-of-type {
        font: 400 14px $ff-Play;
        line-height: 20px;
        margin-bottom: 20px;
      }

      hr {
        background-color: #cccccc;
        margin-bottom: 20px;
      }

      h4:nth-of-type(2) {
        font: 400 24px $ff-Rubik;
        color: $dark-font-color;
        line-height: 30px;
      }

      h4:last-of-type {
        font: 400 14px $ff-Play;
        color: #94a99c;
        line-height: 20px;
      }
    }
  }

  &__btn {
    color: $dark-font-color;
    border: solid 1px $dark-font-color;
    font: 400 23px $ff-Play;
    line-height: 28px;
    padding: 5px 65px;
    margin-bottom: 30px;
    transition: all .3s ease-out;
    @media screen and (max-width: 380px) {
      font-size: 18px;
      padding: 5px 35px;
    }
    &:hover {
      background-color: $dark-font-color;
      color: $btn-color;
    }
  }

  h5 {
    font: 700 14px $ff-OpenSans;
    line-height: 20px;
  }
}